.DS_Store
*~
out/
*.class
*/*.pages
*/assignments/*/.idea/**
*/assignments/*/target/**
*/assignments/*/project/**
*/assignments/*/scalastyle/**
*/lectures/*.pdf
*/lectures/lectures_assignments/.idea/**
*/lectures/lectures_assignments/target/**
*/lectures/lectures_assignments/project/**